html body {
  font-family: 'Source Serif Pro', serif;
  background-color: white;
}

.name h1 a {
  font-size: 25px;
  font-family: 'Bevan', cursive;
}

.name h1 a i {
  color: rgb(82, 143, 245);
}

.top-bar {
  background-color: transparent;
}

body .top-bar {
  max-width: 90%;
  margin: auto;
  background: transparent;
  margin-top: 10px;
}

body .top-bar .name h1 a {
  color: black;
}

nav .top-bar-section li:not(.has-form) a:not(.button) {
  background-color: white;
  color: black;
  font-size: 18px;
}

.container .posts-container {
  max-width: 90%;
}

.container .filter-links {
  padding-left: 0.9375rem;
  max-width: 90%;
  margin: 10px auto 0
}

.filter {
  margin-top: -50px;
  padding-bottom: 10px;
  border-top: 1px solid grey;
  padding-top: 10px;
}

.filter a {
  padding: 5px;
  color: #727272;
  font-family: 'Exo', sans-serif;
  font-weight: 400;
}

.filter a:hover {
  background-color: #EBEBEB;
  padding-top: 11px;
}

.posts-container .root-header {
  font-family: 'PT Sans Caption', sans-serif;
  font-size: 20px;
  font-weight: lighter;
  margin-bottom: 10px;
 }

.single-line-post .vote-container {
  background: #edeceb;
  box-shadow: 0 1px 1px 1px rgba(83, 69, 64, 0.3), 0 1px 1px 0 rgba(0, 0, 0, 0.2);
  padding: 0px;
  margin-top: 5px;
  width: 40px;
  height: 40px;
}

.vote-container {
  height: 35px;
  width: 25px;
}

.post-score {
  margin-top: -10px;
  padding: 3px;
}

.fa-arrow-up {
  font-size: 13px;
}

.posts-container .staff-picks-container {
  margin-top: 15px;
  padding-right: 25px;
  border-right: 1px solid rgb(0, 154, 255);
  border-right-style: dotted;
}

.posts-container .regular-picks-container {
  margin-top: 15px;
  padding-left: 25px;
}

.row .scrolling-listing .single-line-post {
  width: 100%;
  margin: 0px;
}

.single-line-post:hover {
  background-color: #E8F4FA;
}

.scrolling-listing {
    max-height: 650px;
    overflow-y: scroll;
}

.post-title {
  font-size: 20px;
}

.post-title a {
  color: black;
  font-weight: bold;
}

.post-title:hover {
  text-decoration: underline;
}

.post-description {
  color: #7A7A7A;
  font-size: 12px;
}

.single-line-post {
  padding: 5px;
  margin: 5px;
}

.nav-arrow {
  color: lightgreen;
}

