// Place all the styles related to the Posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
  font-size: 12px;
}
.not-staff-pick-post {
  float: right;
  margin-top: 50px;
  clear: right;
}

.staff-pick-post {
  margin-top: 50px;
  float: left;
  clear: left;
}

.root-header {
  text-align: center;
}

#right-header {
  border-left: 1px solid black;
}

.single-line-post {
  display: inline-flex;
}

.single-line-post h3 {
  padding: 5px;
}

.single-line-post p {
  padding: 5px;
}

.single-line-post a {
  padding: 5px;
}