// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.picture img {
  border-radius: 50%;
  height: 30px;
  margin-top: -30px;
  box-shadow: 0px 1px 2px 0px;
}

.picture {
  margin-right: -30px;
}

.accept-posts {
  margin-left: 40px;
}
